# Compose
VOL_PATH=/data
RSDW_IMAGE=indifferentbroccoli/runescape-dragonwilds-server-docker:latest
RSDW_RESTART=unless-stopped
RSDW_PORT=7777
RSDW_BEACON_PORT=8888

# Server
RSDW_PUID=1000
RSDW_PGID=1000
RSDW_UPDATE_ON_START=true
RSDW_OWNER_ID=
RSDW_SERVER_NAME=DragonWildsServer
RSDW_WORLD_NAME=MyWorld
RSDW_ADMIN_PASSWORD=ChangeThisPassword
RSDW_WORLD_PASSWORD=
RSDW_MAX_PLAYERS=6
