# Portus
VOL_PATH=/data
PORTUS_IMAGE=opensuse/portus:2.5
MARIADB_IMAGE=mariadb:10.11
PORTUS_RESTART=unless-stopped
PORTUS_PORT=3000
PORTUS_FQDN=portus.localhost
PORTUS_SECRET_KEY_BASE=ChangeThisPassword
PORTUS_PASSWORD=ChangeThisPassword
PORTUS_DB_PASSWORD=ChangeThisPassword
MARIADB_ROOT_PASSWORD=ChangeThisPassword
