# Domains & Project
PREFIX=p1
WALLABAG_DOMAIN_NAME=wallabag.nickyeoman.com

# Passwords
WALLABAG_MYSQL_ROOT_PASSWORD=ChangeMe2ASecurepass!
WALLABAG_MYSQL_PASSWORD=Again2ASecurepass!

# Software versions
DB_V=10.4.11
WALLABAG_V=2.3.8
