# Domains & Project
PREFIX=test
WALLABAG_DOMAIN_NAME=wallabag.nickyeoman.com

# Passwords
WALLABAG_MYSQL_ROOT_PASSWORD=ChangeMe2ASecurepass!
WALLABAG_MYSQL_PASSWORD=Again2ASecurepass!
# pwgen -cnsB1v 30
WALLABAG_SECRET=qKpJcffTtjKqLbgJX9gWN9FHgrjF7v

# Software versions
DB_V=10.4.11
WALLABAG_V=2.3.8
