# Compose
VOL_PATH=/data
AUTHENTIK_IMAGE=ghcr.io/goauthentik/server
AUTHENTIK_TAG=2025.10.1
AUTHENTIK_RESTART=unless-stopped
AUTHENTIK_PORT_HTTP=9000
AUTHENTIK_PORT_HTTPS=9443
AUTHENTIK_POSTGRES_IMAGE=postgres:16-alpine

# Database
PG_DB=authentik
PG_USER=authentik
# Generate: openssl rand -base64 36 | tr -d '\n'
PG_PASS=ChangeThisPassword

# Authentik
# Generate: openssl rand -base64 60 | tr -d '\n'
AUTHENTIK_SECRET_KEY=ChangeThisPassword
