# DumbBudget
VOL_PATH=/data
DUMBBUDGET_IMAGE=dumbwareio/dumbbudget:latest
DUMBBUDGET_RESTART=unless-stopped
DUMBBUDGET_PORT=3000
DUMBBUDGET_PIN=ChangeThisPassword
DUMBBUDGET_BASE_URL=http://localhost:3000
DUMBBUDGET_CURRENCY=CAD
