# Fider
VOL_PATH=/data
FIDER_IMAGE=getfider/fider:stable
POSTGRES_IMAGE=postgres:17-alpine
FIDER_RESTART=unless-stopped
FIDER_PORT=3000
FIDER_BASE_URL=http://localhost:3000
FIDER_DB_PASSWORD=ChangeThisPassword
FIDER_JWT_SECRET=ChangeThisPassword
FIDER_EMAIL_NOREPLY=noreply@example.com
FIDER_SMTP_HOST=smtp.example.com
FIDER_SMTP_PORT=587
FIDER_SMTP_USERNAME=user
FIDER_SMTP_PASSWORD=ChangeThisPassword
