# Global
VOL_PATH=/docker/vol/portainer-data #HELP: volpath
COOKBOOK=/git/docker-compose-cookbooks #HELP: cookbooks
TZ=UTC

# webtop
WEBTOP_IMAGE=lscr.io/linuxserver/webtop:debian-xfce
WEBTOP_PUID=1000
WEBTOP_PGID=1000
WEBTOP_TITLE=Webtop
