VOL_PATH=/data
#CPU
HANDBRAKE_IMAGE=jlesage/handbrake:latest
#GPU
#HANDBRAKE_IMAGE=zocker160/handbrake-nvenc:18x 
#NVIDIA_VISIBLE_DEVICES=all #GPU
#NVIDIA_DRIVER_CAPABILITIES=all #GPU
HANDBRAKE_RESTART=unless-stopped
HANDBRAKE_ENV=sample.env
HANDBRAKE_PORT=5800

AUTOMATED_CONVERSION=1 # 0 for no
AUTOMATED_CONVERSION_FORMAT=m4v
AUTOMATED_CONVERSION_KEEP_SOURCE=1 # 0 for remove
AUTOMATED_CONVERSION_USE_TRASH=0 # 1 for yes.  Required KEEP_SOURCE
AUTOMATED_CONVERSION_OVERWRITE_OUTPUT=0
AUTOMATED_CONVERSION_NO_GUI_PROGRESS=0 # 0 is show
AUTOMATED_CONVERSION_MAX_WATCH_FOLDERS=2

AUTOMATED_CONVERSION_PRESET='Very Fast 1080p30'
AUTOMATED_CONVERSION_OUTPUT_DIR=/output

AUTOMATED_CONVERSION_PRESET_2='Very Fast 1080p30'
AUTOMATED_CONVERSION_OUTPUT_DIR_2=/output

# Password Protect
SECURE_CONNECTION=1
WEB_AUTHENTICATION=1
WEB_AUTHENTICATION_TOKEN_VALIDITY_TIME=40
WEB_AUTHENTICATION_USERNAME=username
WEB_AUTHENTICATION_PASSWORD=p@ssw0rd
