# docker-compose -p <PREFIX>  up -d

# Domains & Project
PREFIX=p1
DOMAIN_NAME=p1.nickyeoman.com

# PASSWORDS
MYSQL_PASSWORD=8YDmMw4ePRvBc2Z2
MYSQL_ROOT_PASSWORD=5XLvbJ76r3yKREw8

# Software versions
# https://hub.docker.com/_/mariadb
LAMPDB_V=10.4.12
# https://hub.docker.com/_/memcached/
MEM_V=1.6.5
