# Docmost
VOL_PATH=/data
DOCMOST_IMAGE=docmost/docmost:latest
POSTGRES_IMAGE=postgres:16-alpine
REDIS_IMAGE=redis:7-alpine
DOCMOST_RESTART=unless-stopped
DOCMOST_PORT=8000
APP_URL=http://localhost:8000
APP_SECRET=generate_a_long_random_string
DB_PASSWORD=changeme
