# PostgreSQL
POSTGRES_IMAGE=postgres:18.3-alpine
POSTGRES_RESTART=unless-stopped
POSTGRES_USER=listmonk
POSTGRES_PASSWORD=ChangeThisPassword
POSTGRES_DB=listmonk

# Storage
VOL_PATH=/data

# Listmonk
LISTMONK_IMAGE=listmonk/listmonk:latest
LISTMONK_RESTART=unless-stopped
LISTMONK_PORT=9000
LISTMONK_SSLMODE=disable
LISTMONK_MAX_OPEN=25
LISTMONK_MAX_IDLE=25
LISTMONK_MAX_LIFETIME=300s

# Timezone
TZ=America/Vancouver

# Admin user
LISTMONK_ADMIN_USER=admin
LISTMONK_ADMIN_PASSWORD=ChangeThisPassword

# Hostname
LISTMONK_HOSTNAME=listmonk.example.com