# Pangolin
VOL_PATH=/data
TZ=America/Vancouver

PANGOLIN_IMAGE=fosrl/pangolin:latest
PANGOLIN_RESTART=unless-stopped

GERBIL_IMAGE=fosrl/gerbil:latest
GERBIL_RESTART=unless-stopped
GERBIL_WG_PORT=51820
GERBIL_HTTP_PORT=80
GERBIL_HTTPS_PORT=443

TRAEFIK_IMAGE=traefik:v3.3
TRAEFIK_RESTART=unless-stopped
