# Gatus

TZ=America/Vancouver
CONFIG_PATH=/data/config.yml
VOL_PATH=/data
GATUS_RESTART=unless-stopped
GATUS_PORT=8080
GATUS_IMAGE=ghcr.io/twin/gatus:stable
#or dockerhub
#GATUS_IMAGE=twinproduction/gatus:latest