# Compose
VOL_PATH=/data
PENPOT_RESTART=unless-stopped
PENPOT_PORT=9001
PENPOT_FRONTEND_IMAGE=penpotapp/frontend:latest
PENPOT_BACKEND_IMAGE=penpotapp/backend:latest
PENPOT_EXPORTER_IMAGE=penpotapp/exporter:latest
PENPOT_POSTGRES_IMAGE=postgres:15
PENPOT_REDIS_IMAGE=redis:7.2
PENPOT_MAILCATCH_IMAGE=sj26/mailcatcher:latest

# Penpot
PENPOT_PUBLIC_URI=http://localhost:9001
PENPOT_FLAGS=disable-email-verification enable-smtp enable-prepl-server disable-secure-session-cookies
PENPOT_SMTP_FROM=no-reply@example.com
PENPOT_TELEMETRY=true
