# Outline
VOL_PATH=/data
OUTLINE_IMAGE=outlinewiki/outline:latest
POSTGRES_IMAGE=postgres:16-alpine
REDIS_IMAGE=redis:7-alpine
OUTLINE_RESTART=unless-stopped
OUTLINE_PORT=3000
OUTLINE_URL=http://localhost:3000
OUTLINE_SECRET_KEY=ChangeThisPassword
OUTLINE_UTILS_SECRET=ChangeThisPassword
OUTLINE_DB_PASSWORD=ChangeThisPassword
