# ===== Paths =====
VOL_PATH=/data
VOL_PROJECTS=/data/projects

# ===== Rocket.Chat =====
ROCKETCHAT_IMAGE=rocketchat/rocket.chat:latest
ROCKETCHAT_RESTART=unless-stopped
ROCKETCHAT_DOMAIN=chat.example.com
ROCKETCHAT_PORT=3000

# ===== MongoDB =====
MONGO_IMAGE=mongo:4.0

# ===== Hubot =====
HUBOT_IMAGE=rocketchat/hubot-rocketchat:latest
