# Compose
VOL_PATH=/data
SHLINK_IMAGE=shlinkio/shlink:latest
SHLINK_WEB_CLIENT_IMAGE=shlinkio/shlink-web-client:latest
SHLINK_RESTART=unless-stopped
SHLINK_PORT=8080
SHLINK_WEB_CLIENT_PORT=8003

# MariaDB
MARIADB_IMAGE=mariadb:10.11
MARIADB_ROOT_PASSWORD=ChangeThisRootPassword

# Shlink Database
SHLINK_DB_NAME=shlink
SHLINK_DB_USER=shlink
SHLINK_DB_PASSWORD=ChangeThisPassword

# Shlink
SHLINK_DOMAIN=localhost
SHLINK_HTTPS=false
SHLINK_REDIRECT_URL=https://localhost
TZ=America/Vancouver
