# ===== Paths =====
VOL_PATH=/data
VOL_PROJECTS=/data/projects

# ===== Matomo =====
MATOMO_IMAGE=matomo:latest
MATOMO_RESTART=unless-stopped
MATOMO_PORT=8080

# ===== Database =====
MATOMO_DB_IMAGE=mariadb:10.4
MATOMO_MYSQL_ROOT_PASSWORD=ChangeThisPassword
MATOMO_MYSQL_PASSWORD=ChangeThisPassword
MATOMO_DB_PASSWORD=ChangeThisPassword
