# ITFlow
VOL_PATH=/data
ITFLOW_IMAGE=itfloworg/itflow:latest
MARIADB_IMAGE=mariadb:latest
ITFLOW_RESTART=unless-stopped
ITFLOW_PORT=8080
ITFLOW_DB_PASSWORD=ChangeThisPassword
MARIADB_ROOT_PASSWORD=ChangeThisPassword
