# Compose
VOL_PATH=/data
ZAMMAD_IMAGE=ghcr.io/zammad/zammad:latest
ZAMMAD_RESTART=always
ZAMMAD_PORT=8080

# PostgreSQL
POSTGRES_VERSION=17.5-alpine
POSTGRES_DB=zammad_production
POSTGRES_USER=zammad
POSTGRES_PASS=ChangeThisPassword

# Redis
REDIS_VERSION=7.4.5-alpine

# Memcached
MEMCACHE_VERSION=1.6.39-alpine

# Elasticsearch
ELASTICSEARCH_VERSION=8.19.2
ELASTICSEARCH_ENABLED=true
ELASTICSEARCH_JAVA_OPTS=-Xms1g -Xmx1g

# Zammad
TZ=America/Vancouver
NGINX_PORT=8080
NGINX_SERVER_NAME=_
BACKUP_TIME=03:00
ELASTICSEARCH_HOST=zammad-elasticsearch
ELASTICSEARCH_PORT=9200
HOLD_DAYS=10
MEMCACHE_SERVERS=zammad-memcached:11211
POSTGRESQL_DB_CREATE=true
POSTGRESQL_OPTIONS=?pool=50
POSTGRES_HOST=zammad-postgresql
POSTGRES_PORT=5432
RAILS_TRUSTED_PROXIES="['127.0.0.1', '::1']"
REDIS_URL=redis://zammad-redis:6379
