# Compose
VOL_PATH=/data
HEDGEDOC_IMAGE=ghcr.io/hedgedoc/hedgedoc:latest
HEDGEDOC_RESTART=unless-stopped
HEDGEDOC_PORT=3000

# HedgeDoc
HEDGEDOC_DOMAIN=localhost
HEDGEDOC_SSL=false
HEDGEDOC_ADDPORT=true
