# Compose
VOL_PATH=/data
BOOKSTACK_IMAGE=solidnerd/bookstack:latest
BOOKSTACK_RESTART=unless-stopped
BOOKSTACK_PORT=8080
MARIADB_IMAGE=mariadb:latest
MARIADB_RESTART=unless-stopped
MARIADB_ROOT_PASSWORD=ChangeThisPassword

# Bookstack
BOOKSTACK_APP_KEY=ChangeThisPassword
BOOKSTACK_APP_TIMEZONE=America/Vancouver
BOOKSTACK_APP_URL=http://localhost:8080
BOOKSTACK_DB_DATABASE=bookstack
BOOKSTACK_DB_PASSWORD=ChangeThisPassword
BOOKSTACK_DB_USERNAME=dbuser
BOOKSTACK_REVISION_LIMIT=false
