# IMMICH
# documentation for env variables: https://immich.app/docs/install/environment-variables

## Global
VOL_PATH=./data
TZ=America/Vancouver

## App
IMMICH_IMAGE=ghcr.io/immich-app/immich-server:release
IMMICH_UPLOAD_LOCATION=./library
IMMICH_DB_DATA_LOCATION=./postgres
IMMICH_DB_HOSTNAME=immich-postgres
IMMICH_DB_PASSWORD=postgres
IMMICH_DB_USERNAME=postgres
IMMICH_DB_DATABASE_NAME=immich
IMMICH_REDIS_HOSTNAME=immich-redis

# REDIS
REDIS_IMAGE=redis:6.2.19-alpine

# POSTGRES
POSTGRES_IMAGE=tensorchord/pgvecto-rs:pg14-v0.2.0