# Immich
# documentation for env variables: https://immich.app/docs/install/environment-variables
VOL_PATH=/data
IMMICH_IMAGE=ghcr.io/immich-app/immich-server:release
IMMICH_ML_IMAGE=ghcr.io/immich-app/immich-machine-learning:release
REDIS_IMAGE=redis:6.2.19-alpine
POSTGRES_IMAGE=tensorchord/pgvecto-rs:pg14-v0.2.0
IMMICH_RESTART=unless-stopped
IMMICH_PORT=8000
IMMICH_DB_PASSWORD=ChangeThisPassword
IMMICH_DB_USERNAME=postgres
IMMICH_DB_DATABASE_NAME=immich
