VOL_PATH=/data
TZ=America/Vancouver
FIREFOX_IMAGE=jlesage/firefox:latest
FIREFOX_PORT=5800
FIREFOX_RESTART=unless-stopped
FIREFOX_WEB_AUTHENTICATION=1
FIREFOX_WEB_AUTHENTICATION_USERNAME=user
FIREFOX_WEB_AUTHENTICATION_PASSWORD=ChangeThisPassword
FIREFOX_SECURE_CONNECTION=1
FIREFOX_TZ=America/Vancouver
