# Domains & Project
PREFIX=p1
GITEA_DOMAIN_NAME=gitea.nickyeoman.com

# Software versions
GITEA_V=1.11.4
GITEA_PORT=22

#passwords
GITEA_MYSQL_ROOT_PASSWORD=changeMe
GITEA_MYSQL_PASSWORD=changemeAlso
