VOL_PATH=/data

# Gitea
GITEA_IMAGE=gitea/gitea:latest
GITEA_DB_HOST=gitea-db:3306
GITEA_DB_PASS=changeMe
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea
GITEA_SSH_DOMAIN=git.example.com
GITEA_SSH_PORT=22
GITEA_HOST_SSH_PORT=22
GITEA_WEB_PORT=3000
GITEA_RESTART=always
GITEA_ROOT_URL=https://git.example.com/
GITEA_DOMAIN=git.example.com

# MariaDB
TZ=America/Vancouver
MARIA_IMAGE=mariadb:latest
MARIA_ROOT=changeMe