# Compose
VOL_PATH=/data
GITEA_IMAGE=gitea/gitea:latest
GITEA_RESTART=always
GITEA_PORT=3000
GITEA_SSH_PORT=22
MARIADB_IMAGE=mariadb:latest
MARIADB_RESTART=unless-stopped
MARIADB_ROOT_PASSWORD=ChangeThisPassword

# Gitea
GITEA_DB_HOST=gitea-db:3306
GITEA_DB_PASS=ChangeThisPassword
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea
GITEA_SSH_DOMAIN=git.example.com
GITEA_ROOT_URL=https://git.example.com/
GITEA_DOMAIN=git.example.com
TZ=America/Vancouver
