services:
  thunderbird:
    image: ${THUNDERBIRD_IMAGE:-jlesage/thunderbird}
    restart: unless-stopped
    volumes:
      - "${VOL_PATH:-./data}/thunderbird/config:/config:rw"
      - "${VOL_PATH:-./data}/thunderbird/export:/export:rw"
    environment:
      - TZ=${THUNDERBIRD_TZ:-America/Vancouver}
      - WEB_AUTHENTICATION=${THUNDERBIRD_WEB_AUTHENTICATION:-1}
      - WEB_AUTHENTICATION_USERNAME=${THUNDERBIRD_WEB_AUTHENTICATION_USERNAME:-user}
      - WEB_AUTHENTICATION_PASSWORD=${THUNDERBIRD_WEB_AUTHENTICATION_PASSWORD:-password}
      - SECURE_CONNECTION=${THUNDERBIRD_SECURE_CONNECTION:-1}
    ports:
      - "5800:5800"
    networks:
      - proxy
      - internal
