# Compose
VOL_PATH=/data
PAPERLESS_IMAGE=ghcr.io/paperless-ngx/paperless-ngx:latest
PAPERLESS_RESTART=unless-stopped
PAPERLESS_PORT=8000
MARIADB_IMAGE=mariadb:latest
MARIADB_RESTART=unless-stopped
REDIS_IMAGE=redis:8
REDIS_RESTART=unless-stopped
GOTENBERG_IMAGE=gotenberg/gotenberg:8.25
GOTENBERG_RESTART=unless-stopped
TIKA_IMAGE=apache/tika:latest
TIKA_RESTART=unless-stopped

# Paperless
PAPERLESS_MARIADB_DATABASE=paperless
PAPERLESS_MARIADB_USER=paperless
PAPERLESS_MARIADB_PASSWORD=ChangeThisPassword
PAPERLESS_MARIADB_ROOT_PASSWORD=ChangeThisPassword
PAPERLESS_SECRET_KEY=ChangeThisPassword
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_URL=http://localhost
PAPERLESS_CONSUMER_DELETE_DUPLICATES=0
TZ=America/Vancouver
