# Compose
VOL_PATH=/data
MARIADB_IMAGE=mariadb:latest
MARIADB_RESTART=unless-stopped
MARIADB_PORT=3306

# MariaDB
MARIADB_DATABASE=mydb
MARIADB_USER=dbuser
MARIADB_PASSWORD=AlsoChangeThisPassword
MARIADB_ROOT_PASSWORD=ChangeThisPassword
