# Domains & Project
PREFIX=p1
TRAEFIK_DOMAIN_NAME=traefik.nickyeoman.com

# Passwords
# https://medium.com/@techupbusiness/add-basic-authentication-in-docker-compose-files-with-traefik-34c781234970
# echo $(htpasswd -nbB <USER> "<PASS>") | sed -e s/\\$/\\$\\$/g
TRAEFIK_USER=username
TRAEFIK_PASS=M@keASecureOne

# Software versions
# https://hub.docker.com/_/traefik
TRAEFIK_V=2.2.0
