# Domains & Project
PREFIX=p1
NEXTCLOUD_DOMAIN_NAME=nextcloud.nickyeoman.com

# Passwords
NEXTCLOUD_MYSQL_ROOT_PASSWORD=ChangeMe2ASecurepass!
NEXTCLOUD_MYSQL_PASSWORD=Again2ASecurepass!

# Software versions
DB_V=10.4.11
NEXTCLOUD_V=18.0.3-apache
