# Compose
VOL_PATH=/data
NEXTCLOUD_IMAGE=nextcloud:latest
NEXTCLOUD_RESTART=unless-stopped
MARIADB_IMAGE=mariadb:latest
MARIADB_RESTART=unless-stopped
MARIADB_ROOT_PASSWORD=ChangeThisPassword

# Nextcloud
NEXTCLOUD_DB=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=ChangeThisPassword
NEXTCLOUD_DB_HOST=nextcloud-db
