VOL_PATH=/data

#DB
MARIADB_IMAGE=mariadb:12.3.2
MARIADB_ROOT_PASSWORD=ChangeThisPassword
# nextcloud
NEXTCLOUD_IMAGE=nextcloud:latest
NEXTCLOUD_DB_PASSWORD=password
NEXTCLOUD_DB=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_HOST=nextcloud-db