# Compose
VOL_PATH=/data
SUITECRM_IMAGE=bitnami/suitecrm:latest
SUITECRM_RESTART=unless-stopped
SUITECRM_PORT=8080
MARIADB_IMAGE=mariadb:10.11

# SuiteCRM
SUITECRM_DB_PASSWORD=ChangeThisPassword
SUITECRM_USER=admin
SUITECRM_PASS=ChangeThisPassword
MARIADB_ROOT_PASSWORD=ChangeThisPassword
