COOKBOOK=/git/docker-compose-cookbooks #HELP: cookbooks

# redis
REDIS_IMAGE=redis:alpine
REDIS_PORT=6379
TZ=UTC
REDIS_RESTART=unless-stopped
REDIS_HEALTHCHECK_INTERVAL=20s
REDIS_HEALTHCHECK_TIMEOUT=3s
