# Compose
VOL_PATH=/data
FILEBROWSER_IMAGE=gtstef/filebrowser:latest
FILEBROWSER_RESTART=unless-stopped
FILEBROWSER_PORT=8080
FILEBROWSER_CONFIG_PATH=/data/filebrowser

# Filebrowser
FILEBROWSER_CONFIG=/home/filebrowser/config.yaml
FILEBROWSER_ADMIN_PASSWORD=ChangeThisPassword
TZ=America/Vancouver
