# Chatwoot
VOL_PATH=/data
CHATWOOT_IMAGE=chatwoot/chatwoot:latest
PGVECTOR_IMAGE=pgvector/pgvector:pg16
REDIS_IMAGE=redis:7-alpine
CHATWOOT_RESTART=unless-stopped
CHATWOOT_PORT=3000
CHATWOOT_FRONTEND_URL=http://localhost:3000
CHATWOOT_SECRET_KEY_BASE=ChangeThisPassword
CHATWOOT_DB_PASSWORD=ChangeThisPassword
