# Twenty CRM
VOL_PATH=/data
TWENTY_IMAGE=twentycrm/twenty:latest
POSTGRES_IMAGE=postgres:16-alpine
REDIS_IMAGE=redis:7-alpine
TWENTY_RESTART=unless-stopped
TWENTY_PORT=3000
TWENTY_SERVER_URL=http://localhost:3000
TWENTY_APP_SECRET=ChangeThisPassword
TWENTY_DB_PASSWORD=ChangeThisPassword
