# Compose
VOL_PATH=/data
BIND_ADDRESS4=
MAILU_VERSION=2024.06
MAILU_RESTART=always
MAILU_ORG=ghcr.io/mailu
MAILU_WEBMAIL=roundcube
MAILU_REDIS_IMAGE=redis:alpine

# Domain
DOMAIN=example.com
HOSTNAMES=mail.example.com
POSTMASTER=postmaster

# Security
SECRET_KEY=ChangeThisPassword
TLS_FLAVOR=cert

# Network
SUBNET=192.168.203.0/24

# Rate limits
AUTH_RATELIMIT_IP=60/hour
AUTH_RATELIMIT_USER=100/day

# Web paths
WEB_ADMIN=/admin
WEB_WEBMAIL=/webmail
WEB_API=/api
SITENAME=Mailu
WEBSITE=https://mailu.io

# Mail
MESSAGE_SIZE_LIMIT=50000000
MESSAGE_RATELIMIT=200/day
LOG_LEVEL=WARNING
TZ=America/Vancouver
DISABLE_STATISTICS=False

# Initial admin (auto-create on first run)
INITIAL_ADMIN_ACCOUNT=admin
INITIAL_ADMIN_DOMAIN=example.com
INITIAL_ADMIN_PW=changeme123
INITIAL_ADMIN_MODE=ifmissing
