# Compose
VOL_PATH=/data
DIRECTUS_IMAGE=directus/directus:latest
DIRECTUS_RESTART=unless-stopped
DIRECTUS_PORT=8000

# MariaDB
MARIADB_IMAGE=mariadb:10.11
MARIADB_DATABASE=directus
MARIADB_USER=directus
MARIADB_PASSWORD=ChangeThisPassword
MARIADB_ROOT_PASSWORD=ChangeThisPassword

# Directus
DIRECTUS_SECRET=ChangeThisPassword
DIRECTUS_ADMIN_EMAIL=noreply@example.com
DIRECTUS_ADMIN_PASSWORD=ChangeThisPassword
DIRECTUS_PUBLIC_URL=http://localhost:8055
REDIS_IMAGE=redis:7-alpine
