# Compose
VOL_PATH=/data
POSTE_IMAGE=analogic/poste.io:latest
POSTE_RESTART=unless-stopped
POSTE_SMTP_PORT=25
POSTE_POP3_PORT=110
POSTE_IMAP_PORT=143
POSTE_SUBMISSION_PORT=587
POSTE_IMAPS_PORT=993
POSTE_POP3S_PORT=995
POSTE_SIEVE_PORT=4190

# Poste
POSTE_HOSTNAME=mail.yourdomain.com
TZ=America/Vancouver
