# Compose
VOL_PATH=/data
HEADSCALE_IMAGE=headscale/headscale:latest
HEADSCALE_UI_IMAGE=goodieshq/headscale-admin:0.26
HEADSCALE_RESTART=unless-stopped
HEADSCALE_UI_RESTART=unless-stopped

# Headscale
HEADSCALE_LOG_LEVEL=info
HEADSCALE_DOMAIN=headscale.example.com
HEADSCALE_URL=https://headscale.example.com
TZ=America/Vancouver
