# Domains & Project
PREFIX=p1
DOMAIN_NAME=passbolt.nickyeoman.com

# Passwords
MYSQL_ROOT_PASSWORD=ChangeMe2ASecurepass!
MYSQL_PASSWORD=Again2ASecurepass!

# Software versions
DB_V=10.4.11
PASSBOLT_V=2.12.0-debian

# Network
NETWORK_NAME=traefik_web
