# ===== Paths =====
VOL_PATH=/data

# ===== Code Server =====
VSCODE_IMAGE=lscr.io/linuxserver/code-server:latest
VSCODE_RESTART=unless-stopped
VSCODE_PASSWORD=ChangeThisNow
VSCODE_PORT=8443
VSCODE_DOMAIN=localhost
DEFAULT_WORKSPACE=/data
VSCODE_PUID=1000
VSCODE_PGID=1000