# Compose
VOL_PATH=/data
PEERTUBE_IMAGE=chocobozzz/peertube:production-bookworm
PEERTUBE_POSTGRES_IMAGE=postgres:16-alpine
PEERTUBE_REDIS_IMAGE=redis:7-alpine
PEERTUBE_RESTART=unless-stopped
PEERTUBE_PORT=9000

# PeerTube
PEERTUBE_HOSTNAME=localhost
PEERTUBE_ADMIN_EMAIL=admin@example.com
PEERTUBE_ADMIN_PASSWORD=changeme123
# Generate: pwgen -cnsB1v 64
PEERTUBE_SECRET=
