# ===== Paths =====
VOL_PATH=/data
VOL_PROJECTS=/data/projects

# ===== Activepieces =====
ACTIVEPIECES_IMAGE=ghcr.io/activepieces/activepieces:0.44.0
ACTIVEPIECES_RESTART=unless-stopped
ACTIVEPIECES_PORT=8080
ACTIVEPIECES_DOMAIN=localhost

# ===== Required Secrets =====
# Generate with: openssl rand -hex 16
AP_ENCRYPTION_KEY=ChangeThisPassword
# Generate with: openssl rand -hex 32
AP_JWT_SECRET=ChangeThisPassword

# ===== Database =====
AP_POSTGRES_PASSWORD=ChangeThisPassword

# ===== Redis =====
ACTIVEPIECES_POSTGRES_IMAGE=postgres:14.4
ACTIVEPIECES_REDIS_IMAGE=redis:7.0.7
