# Tinyauth
VOL_PATH=/data
TINYAUTH_IMAGE=ghcr.io/steveiliop56/tinyauth:v5
TINYAUTH_RESTART=unless-stopped
TINYAUTH_PORT=3000
TINYAUTH_APPURL=http://localhost:3000
TINYAUTH_AUTH_USERS=user:$2a$10$ReplaceWithBcryptHash
