# Notifuse
VOL_PATH=/data
NOTIFUSE_IMAGE=notifuse/notifuse:latest
POSTGRES_IMAGE=postgres:17-alpine
NOTIFUSE_RESTART=unless-stopped
NOTIFUSE_PORT=8080
NOTIFUSE_API_ENDPOINT=http://localhost:8080
NOTIFUSE_ROOT_EMAIL=admin@example.com
NOTIFUSE_SECRET_KEY=ChangeThisPassword
NOTIFUSE_DB_PASSWORD=ChangeThisPassword
