# ===== Paths =====
VOL_PATH=/data
VOL_PROJECTS=/data/projects

# ===== Monica =====
MONICA_IMAGE=monica:latest
MONICA_RESTART=unless-stopped
MONICA_PORT=8081
MONICA_APP_ENV=production

# ===== Database =====
MONICA_DB_IMAGE=mariadb:11
MONICA_DB_PASSWORD=ChangeThisPassword
MONICA_MYSQL_ROOT_PASSWORD=ChangeThisPassword
