
COOKBOOK=/git/docker-compose-cookbooks #HELP: cookbooks
VOL_PATH=./data #HELP: volpath

# Monica
MONICA_IMAGE=monica:latest
MONICA_DB_HOST=monica-db
MONICA_DB_USERNAME=monica
MONICA_DB_PASSWORD=changeme
MONICA_APP_ENV=production
