# VoidAuth
VOL_PATH=/data
VOIDAUTH_IMAGE=voidauth/voidauth:latest
POSTGRES_IMAGE=postgres:17-alpine
VOIDAUTH_RESTART=unless-stopped
VOIDAUTH_PORT=3000
VOIDAUTH_APP_URL=http://localhost:3000
VOIDAUTH_STORAGE_KEY=ChangeThisPassword
VOIDAUTH_DB_PASSWORD=ChangeThisPassword
