# Tdarr
VOL_PATH=/data
TZ=America/Vancouver
TDARR_IMAGE=ghcr.io/haveagitgat/tdarr:latest
TDARR_RESTART=unless-stopped
TDARR_PORT=8265
TDARR_SERVER_PORT=8266
TDARR_NODE_NAME=InternalNode
TDARR_MEDIA=/data/media
