VOL_PATH=/data
WEBUI_IMAGE=ghcr.io/open-webui/open-webui:main
WEBUI_PORT=8080
WEBUI_SECRET_KEY=a2dddd88c9da5f25786a0eb6e48e66305ee999d2adac8f8af821f82f11f56441 # ChangeMe openssl rand -hex 32
WEBUI_URL=ollama.lan
