VOL_PATH=/data
WEBUI_IMAGE=ghcr.io/open-webui/open-webui:main
WEBUI_PORT=8080
WEBUI_SECRET_KEY=ChangeThisPassword
WEBUI_URL=ollama.lan
OLLAMA_IMAGE=ollama/ollama:latest
OLLAMA_KEEP_ALIVE=5m
OLLAMA_PORT=11434
OLLAMA_RESTART=unless-stopped
WEBUI_RESTART=unless-stopped
