# Compose
VOL_PATH=/data
DUPLICATI_IMAGE=duplicati/duplicati:latest
DUPLICATI_RESTART=unless-stopped
DUPLICATI_PORT=8200

# Duplicati
DUPLICATI_KEY=ThisNeedsToChange
DUPLICATI_PASS=changeMe
TZ=America/Vancouver
