# Compose
VOL_PATH=/data
DUPLICATI_IMAGE=duplicati/duplicati:latest
DUPLICATI_RESTART=unless-stopped
DUPLICATI_PORT=8200

# Duplicati
DUPLICATI_KEY=ChangeThisPassword
DUPLICATI_PASS=ChangeThisPassword
TZ=America/Vancouver
