# Domains & Project
PREFIX=p1
YOURLS_DOMAIN_NAME=yourls.nickyeoman.com

# Passwords
YOURLS_MYSQL_ROOT_PASSWORD=ChangeMe2ASecurepass!
YOURLS_MYSQL_PASSWORD=Again2ASecurepass!
YOURLS_USER=username
YOURLS_PASS=Password4urls

# Software versions
DB_V=10.4.11
