# Compose
VOL_PATH=/data
JOOMLA_PORT=8080
JOOMLA_IMAGE=joomla:5
JOOMLA_RESTART=unless-stopped

# MariaDB
MARIADB_IMAGE=mariadb:10.11
MARIADB_ROOT_PASSWORD=ChangeThisPassword

# Joomla Database
JOOMLA_DB_NAME=joomla
JOOMLA_DB_USER=joomla
JOOMLA_DB_PASSWORD=ChangeThisPassword

# Joomla Auto-Deployment (skips browser setup wizard)
JOOMLA_SITE_NAME=My Joomla Site
JOOMLA_ADMIN_USER=Joomla Admin
JOOMLA_ADMIN_USERNAME=admin
JOOMLA_ADMIN_PASSWORD=ChangeThisPassword
JOOMLA_ADMIN_EMAIL=admin@example.com
