VOL_PATH=/data
TZ=UTC

# etherpad
ETHERPAD_IMAGE=node:18-slim
ETHERPAD_PORT=9001
ETHERPAD_RESTART=unless-stopped
ETHERPAD_DEFAULT_TITLE=Etherpad
ETHERPAD_DEFAULT_TEXT=Welcome to Etherpad!
ETHERPAD_ADMIN_PASSWORD=ChangeThisPassword
