services:
  archivebox:
    image: ${ARCHIVEBOX_IMAGE:-archivebox/archivebox:stable}
    restart: unless-stopped
    volumes:
      - "archivebox-data:/data"
    environment:
      - ARCHIVEBOX_UID=1000
      - ARCHIVEBOX_GID=1000
      - PYTHONUNBUFFERED=1
    command: server --quick-init 0.0.0.0:8000

volumes:
  archivebox-data:
