# ARCHIVEBOX
VOL_PATH=./data
ARCHIVEBOX_IMAGE=archivebox/archivebox:stable
# ARCHIVEBOX_IMAGE=archivebox/archivebox:sha-1d49bee # locked example
ARCHIVEBOX_RESTART=unless-stopped
ARCHIVEBOX_UID=1000
ARCHIVEBOX_GID=1000
PYTHONUNBUFFERED=1
