# Mail Archiver
VOL_PATH=/data
MAILARCHIVER_IMAGE=s1t5/mailarchiver:latest
POSTGRES_IMAGE=postgres:17-alpine
MAILARCHIVER_RESTART=unless-stopped
MAILARCHIVER_PORT=5000
MAILARCHIVER_USERNAME=admin
MAILARCHIVER_PASSWORD=ChangeThisPassword
MAILARCHIVER_DB_PASSWORD=ChangeThisPassword
MAILARCHIVER_TIMEZONE=America/Vancouver
