VOL_PATH=/data
STASH_CONTENT_PATH=/data/stash
# stashapp
STASHAPP_IMAGE=stashapp/stash:latest # https://hub.docker.com/r/stashapp/stash/tags
# ghcr.io/hotio/stash # Alternative image
STASHAPP_RESTART=unless-stopped
STASHAPP_CACHE=/cache/
STASHAPP_DOMAIN=stash.yourdomain.ca
STASHAPP_GENERATED=/generated/
STASHAPP_METADATA=/metadata/
STASHAPP_STASH=/data/
STASHAPP_PORT=9999