# Compose
VOL_PATH=/data
STASH_CONTENT_PATH=/data/stash
STASHAPP_IMAGE=stashapp/stash:latest
STASHAPP_RESTART=unless-stopped
STASHAPP_PORT=9999
STASHAPP_CACHE=/cache/
STASHAPP_DOMAIN=stash.yourdomain.ca
STASHAPP_GENERATED=/generated/
STASHAPP_METADATA=/metadata/
STASHAPP_STASH=/data/
