# Maybe Finance
VOL_PATH=/data
MAYBE_IMAGE=ghcr.io/maybe-finance/maybe:latest
POSTGRES_IMAGE=postgres:16-alpine
REDIS_IMAGE=redis:7-alpine
MAYBE_RESTART=unless-stopped
MAYBE_PORT=3000
MAYBE_SECRET_KEY_BASE=ChangeThisPassword
MAYBE_DB_PASSWORD=ChangeThisPassword
